# Godot 4+ specific ignores
.godot/
/android/

# Export output
/build/

# VSCode
.vscode/
.vscode/settings.json
releases/pack_bag.console.exe
releases/pack_bag.exe
releases/allpacksleadtoyou.console.exe
releases/allpacksleadtoyou.exe
